{% extends 'userbase.html' %}
{% block user %}

<div class="row">
  <div class="col-sm-12">
    <h1>My Oreders</h1>
    {% for items in order_items %}
    <table class="table">
     <tr class="table-success">
       <th>Order Id</th>
       <th>Book Name</th>
       <th>Quantity</th>
       <th>Price</th>
     </tr> 
     
     {% for j in items %}
     <tr>
       <td>{{ j.order_id }}</td>
       <td>{{ j.book.title }}</td>
       <td>{{ j.quantity }}</td>
       <td>{{ j.book.price}}</td>
     </tr>
     {% endfor %}
    </table>
    {% endfor %}
  </div>
</div>

{% endblock %}